.msgs-list {
  padding: 0;
  list-style-type: none;
  height: 30vh;
  overflow-y: scroll;
}

.msgs-list li {
  padding: 10px 20px;
  margin: 5px 0;
}

.chat-person {
  background: #b3ebe881;
  border-radius: 1rem;
}
