<ul class="nav-list" (click)="setActive($event)">
  <div class="link logo">
    <img src="../assets/img/logos/logo_transparent.png" alt="" />
  </div>
  <li class="nav-active hover-underline-animation link">
    <i class="fas fa-cannabis zoom"></i> Dashboard
  </li>
  <li class="hover-underline-animation link">
    <i class="fas fa-dice-d20 zoom"></i> Jobs
  </li>
  <li class="hover-underline-animation link">
    <i class="fas fa-dharmachakra zoom"></i> Freelancers
  </li>
  <li class="hover-underline-animation link">
    <i class="fas fa-carrot zoom"></i>Ideas
  </li>
  <li class="hover-underline-animation link">
    <i class="fas fa-chart-pie zoom"></i>Resources
  </li>
  <li>
    <div class="hori-line"></div>
    <div class="flex align-center space-around">
      <div class="icon profile-icon icn-48">
        <i class="fas fa-user zoom"></i>
      </div>
      <div
        class="hover-underline-animation link"
        style="color: white; padding: 10px 0"
      >
        Tejas Ladhe
      </div>
      <i class="fas fa-cog link animated zoom-rotate"></i>
    </div>
  </li>
</ul>
