<ul class="msgs-list">
  <h3 style="margin: 20px 0 0 20px">Messages</h3>
  <div class="search-input">
    <input
      type="text"
      class="form-control"
      style="width: 100%"
      placeholder="Search by Name"
    />
    <i class="fas fa-search link zoom"></i>
  </div>
  <li class="chat-person link" *ngFor="let elem of chats">
    <div class="flex">
      <div class="icon profile-icon icn-48">
        <i class="fas fa-user"></i>
      </div>
      <div class="details">
        <div class="name">
          {{ elem.name }}
        </div>
        <div class="last-msg">
          {{ elem.last_msg }}
        </div>
      </div>
    </div>
  </li>
</ul>
