.msgs-list {
  width: 400px;
  height: 100vh;
  right: 0;
  padding: 0;
  position: fixed;
  overflow-y: scroll;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background: #232323;
  background-image: linear-gradient(
    -45deg,
    #ffffff11 23%,
    #ffffff00 23%,
    #ffffff00 77%,
    #ffffff11 77%
  );
}

.search-input {
  margin: 20px;
}

.search-input input {
  box-shadow: 0 0 15px #000;
  background: #ffffff11;
  color: white;
  border: 1px solid #ffffff33;
}

.msgs-list li {
  padding: 10px 20px;
  margin: 5px 0;
}

.chat-person:hover {
  background-color: rgba(255, 255, 255, 0.267);
}

.chat-person .details {
  padding: 0 10px;
}

.chat-person .details * {
  color: white;
}

.chat-person .details .name {
  font-weight: 600;
}

.fas {
  /* background-image: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--secondary) 100%
  ); */
  color: #ffffff55;
  margin: 0 10px;
  cursor: pointer;
}
