<div class="flex align-center stories-panel">
  <div class="link story-item">
    <div class="icon profile-icon icn-48">
      <i class="fas fa-user" style="color: white"></i>
      <i class="fas fa-plus-circle story-add" style="color: white"></i>
    </div>
    <div class="text-center">You</div>
  </div>
  <div *ngFor="let elem of stories">
    <div class="link story-item" *ngIf="!elem.read">
      <div class="icon profile-icon icn-48 story-border">
        <i class="fas fa-user" style="color: white"></i>
      </div>
      <div class="text-center text-nowrap">{{ elem.name }}</div>
    </div>
    <div class="link story-item" *ngIf="elem.read">
      <div class="icon profile-icon icn-48">
        <i class="fas fa-user" style="color: white"></i>
      </div>
      <div class="text-center text-nowrap">{{ elem.name }}</div>
    </div>
  </div>
</div>
