div {
  margin: 0 15px;
}
div p {
  margin: 0;
}

.story-add {
  position: absolute;
  bottom: -10%;
  right: -25%;
}

.story-border {
  border: 2px solid #4ca1af;
}

.stories-panel {
  background-color: #fff;
  box-shadow: 0 0 45px #ddd;
  padding: 20px 0;
  border-radius: 2rem;
  overflow-x: scroll;
}
