.story-add {
  position: absolute;
  bottom: 0px;
  right: -5px;
}

.story-border {
  border: 2px solid #4ca1af;
}

.stories-panel {
  background-color: #ffffff11;
  box-shadow: 0 0 15px #000;
  padding: 20px 0;
  margin: 20px 0;
  border-radius: 10px;
  overflow-x: scroll;
}

.story-item {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
