.dashboard-content {
  margin: 10px 20px;
}

.header {
  padding: 10px 0;
}

.stories {
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 0 0 30px #eee;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 20px 10px;
}
.posts {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 65%;
  background: #ddd;
}
.side-menu {
  width: 30%;
}
