.dashboard-content {
  padding: 20px;
  background-color: #f8f7ff;
  overflow-y: scroll;
}

.header {
  padding: 10px 0;
}

.stories {
  padding: 20px 0;
  overflow-x: scroll;
  margin: 0 10px;
}
.posts {
  background: #ddd;
}
.side-menu {
  width: 30%;
}
