<div class="background">
  <div class="panel flex">
    <nav>
      <div class="link logo">
        <img src="../assets/img/logos/logo_transparent.png" alt="" />
      </div>
      <ul class="nav-list">
        <li class="hover-underline-animation">
          <i class="fas fa-cannabis zoom"></i> Dashboard
        </li>
        <li class="hover-underline-animation">
          <i class="fas fa-dice-d20 zoom"></i> Jobs
        </li>
        <li class="hover-underline-animation">
          <i class="fas fa-dharmachakra zoom"></i> Freelancers
        </li>
        <li class="hover-underline-animation">
          <i class="fas fa-carrot zoom"></i>Ideas
        </li>
        <li class="hover-underline-animation">
          <i class="fas fa-chart-pie zoom"></i>Resources
        </li>
        <div class="hori-line"></div>
      </ul>
    </nav>
    <div class="ver-line"></div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
